/* COMMON SHAERD STYLES */
body {
    font-family: 'lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.r {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    color: white;
    font-style: normal;
    font-weight: 700;
    padding: 18px 30px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}



/* NAV RELATED STYLES */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav_title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #181818;
}

/* HEADER RELATED STYLES */

.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner-content {
    max-width: 500px;
}

.profile-pic {
    width: 400px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;

}

.banner-titel {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

/* MAIN SECTION STYLES */
main {
    max-width: 1140px;
    margin: 0 auto;

}

main section {
    margin-top: 130px;
}

/* ABOUT SECTION STYELS */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

/* SKILLS RELATED STYLES */

.skills-container {
    display: flex;
    gap: 24px;
}

#what-i-do-description {
    padding: 30px 150px;

}

.skill {
    padding: 30px;

    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skills-descreption {
    color: #757575;
}

/* RESUME SECTION STYLES */

.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;

}

.resume-container {
    display: flex;
    gap: 55px;
}

.resume-item-description,
.resume-item-institute {
    color: #757575;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;

    
}
.resume-container hr{
    margin: 50px;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}

/* FOOTER STYLES */

footer{
    display: flex;
    background: #FFF8F3;
    margin-top: 100px;
    padding: 130px 200px;
    
}

.footer-column{
    gap: 100px;
}

.social-links a{
    margin-right: 25px;
}

.contact input[type="text"], .contact input[type="email"], textarea {
    display: block;
    margin-bottom: 24px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;
}